MusicParadise.iml
./idea
idea
.idea
.idea/compiler.xml
.idea/encodings.xml
.idea/libraries
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
.target/*
target
target/
.idea/dataSources
.idea/dataSources.local.xml
.idea/dataSources.xml
.idea/kotlinc.xml
.idea/uiDesigner.xml
